@tailwind base;
@tailwind components;
@tailwind utilities;

.hsmall {
  @apply text-pink-600 tracking-widest font-sans text-[14px];
}

.hmd {
  @apply text-[#ef9218] tracking-widest font-sans text-[18px] font-medium;
}

.background-ham {
  background-image: linear-gradient(#ffa8a8 10%, #fcff00);
}

.hsec {
  @apply text-[#756c6c]  tracking-[.35em] font-sans text-[18px] font-medium;
}
.boxhead {
  @apply text-2xl text-black  font-bold drop-shadow-[0_15px_15px_rgb(190,190,190)];
}
.contact-bg {
  background-image: linear-gradient(135deg, #fbeedb 10%, #fdc0ac);
}
.background-1 {
  background-image: linear-gradient(135deg, #7bbef5 10%, #c9e6ab);
}
.background-2 {
  background-image: linear-gradient(135deg, #b0affa 10%, #f6d2da);
}
.background-3 {
  background-image: linear-gradient(135deg, #f690af 10%, #f6e05f);
}

.s-box:nth-child(3n-1) {
  background-image: linear-gradient(135deg, #dff1b3 10%, #f6fde9);
}
.s-box:nth-child(3n-2) {
  background-image: linear-gradient(135deg, #fce8db 10%, #fbfce3);
}

.s-box:nth-child(3n) {
  background-image: linear-gradient(135deg, #d2d7f0 10%, #e1f6f6);
}

.animate {
  /* position: relative; */
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% {
    top: -800px;
  }

  25% {
    top: 0px;
  }
}
